body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u515_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u515 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-40px;
  width:750px;
  height:1334px;
}
#u516 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u517_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:92px;
}
#u517 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:92px;
}
#u518 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u520 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u521 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:827px;
  width:479px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
