body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:88px;
  width:750px;
  height:1206px;
  overflow:hidden;
}
#u435_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1206px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u435_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1490px;
  overflow:hidden;
  touch-action:none;
}
#u436_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1490px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u436_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1490px;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1490px;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:737px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:18px;
  width:358px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
}
#u441 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u445 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:0px;
  width:90px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
